mei-titlestmt::before {
	content: "Piece Information";
	font-weight: bold;
	font-size: 18px;
	display:block;
	padding-bottom: 4px;}
	
mei-titlestmt{ display:block;}	
	
mei-titlestmt > mei-title::before {
content: "Title: ";
font-weight: bold;	
 }
    
mei-titlestmt > mei-composer {
	display:block;
    }   
	
mei-titlestmt > mei-composer::before {
	content: "Artist: ";
	font-weight: bold;
    }  
mei-titlestmt > mei-arranger::before {
	content: "Arrangement by: ";
	font-weight: bold;
    }
mei-titlestmt > mei-respstmt > mei-resp {
	display: none;
    }
mei-titlestmt >  mei-respstmt > mei-name {
	display:block;
	  }
mei-titlestmt >  mei-respstmt > mei-name::before {
	content: "Encoded by: ";
	font-weight: bold;
	
    }	
mei-extent::before {content: "File Size: ";
		font-weight: bold;}
	
mei-worklist > mei-classification > mei-genre {
	display:block; }	  	
	
	
mei-worklist > mei-classification > mei-genre::before {
	content: "Genre: ";
	font-weight: bold;
	  }	  
	
	
mei-worklist > mei-creation > mei-date::before {
	content: "Released:";
	font-weight: bold;
	  }

mei-pubstmt > mei-publisher {
	display:block;}
	
	
mei-pubstmt > mei-publisher::before {
	content: "Publishing Information";
	font-weight: bold;
	font-size: 18px;
	display:block;
	padding-bottom: 4px;
	padding-top: 20px;}
	
mei-pubstmt{ display:block;}	
	
	
 mei-pubstmt > mei-publisher > mei-corpname::before {
 	content: "Corporation: ";
 	font-weight: bold;}


mei-pubstmt > mei-publisher > mei-address > mei-addrline > mei-geogname {
	display:block;
	  }	

mei-pubstmt > mei-publisher > mei-address > mei-addrline > mei-geogname::before {
	content: "Publisher Location: ";
 	font-weight: bold;}	

mei-pubstmt > mei-publisher > mei-name{display: block;}
	
mei-pubstmt > mei-publisher > mei-name::before {
 	content: "Publisher Name: ";
 	font-weight: bold;}	
	
mei-pubstmt > mei-date {
	display:block;
	}
	  	
mei-pubstmt > mei-date::before {
	content:"Date Published: ";
	font-weight: bold;}
	  
mei-pubstmt > mei-availability > mei-userestrict::before {
	content: "Copyright Instructions: ";
	font-weight: bold;}
	  
mei-pubstmt > mei-availability > mei-userestrict {
	display: block;}
	  

mei-seriesstmt::before {
	content: "Project Information";
	font-weight: bold;
	font-size: 18px;
	display:block;
	padding-bottom: 4px;
	padding-top: 20px;}
	
mei-seriesstmt{ display:block;}	
	
mei-seriesstmt > mei-title {display: block;}
	
mei-seriesstmt > mei-title::before {
	content: "Series Title: ";
	 font-weight: bold; }
	  
mei-seriesstmt > mei-editor {display:block;	
	  }
	
mei-seriesstmt > mei-editor::before {
content: "Series editor: ";
	font-weight: bold;	
	  }

mei-seriesstmt > mei-identifier {display: block;
	 }	
	
mei-seriesstmt > mei-identifier::before {
content: "Identifier: ";
	font-weight: bold;	
	  }

mei-seriesstmt > mei-contents {display: block;
	 }	
	
mei-seriesstmt > mei-contents::before {
content: "Name: ";
	font-weight: bold;	
	  }

mei-appinfo > mei-application > mei-name {
	display:none;}
	
mei-appinfo > mei-application > mei-p {
	display:none;
	  }
